*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.btn{
    background-color: wheat;
    padding: 20px 40px;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    color: black;
    position: relative;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 1;
}

.btn::before{
    content: "";
    background-color: orangered;
    position: absolute;
    width: 0;
    height: 0;
    left: var(--Xpos);
    top: var(--Ypos);
    transform: translate(-50%,-50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}