*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    width: 100%;
    margin: 20px;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
}

.image-container img{
    margin: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px;
    width: 300px;
    height: 300px;
}

.btn{
    margin: 20px 0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 5px;
    background-color: aquamarine;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.7;
}

