* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: darkgrey;
}

.container {
  background-color: darkcyan;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.5);
  width: 20rem;
}

#formData {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin: 10px 0;
  padding: 15px 5px;
  border: none;
  outline: none;
  background-color: burlywood;
  border-radius: 5px;
  width: 16rem;
}

.btn {
  padding: 10px 0;
  margin: 10px 0;
  width: 100px;
  cursor: pointer;
  background-color: darkslategray;
  color: whitesmoke;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  &:hover {
    opacity: 80%;
  }
}

#displayMessage {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
  font-family: sans-serif;
  color: aliceblue;
}
