* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
span {
  background: url("https://www.freeiconspng.com/uploads/heart-icon-14.png");
  height: 100px;
  width: 100px;
  position: absolute;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: animate 6s linear;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
    filter: hue-rotate(720deg);
  }
  100% {
    transform: translate(-50%, -5000%);
    opacity: 0;
  }
}
